extends layout

block content
  ul(id="browser_list")
    li.first
      div 01-Homepage_R1_01.jpg 
      a(href='#{siteUrl}/?path=images/01-Homepage_R1_01.jpg',target='_blank'): img(src="#{qrcodeUrl}/generate.php?data=#{siteUrl}/?path=images/01-Homepage_R1_01.jpg")
    li
      div 01-Homepage_R1_02.jpg 
      a(href='#{siteUrl}/?path=images/01-Homepage_R1_02.jpg',target='_blank'): img(src="#{qrcodeUrl}/generate.php?data=#{siteUrl}/?path=images/01-Homepage_R1_02.jpg")
    li
      div 01-Homepage_R2_01.jpg 
      a(href='#{siteUrl}/images/01-Homepage_R2_01.jpg',target='_blank'): img(src="#{qrcodeUrl}/generate.php?data=#{siteUrl}/?path=images/01-Homepage_R2_01.jpg")
    li.last
      div 01-Homepage_R2_02.jpg 
      a(href='#{siteUrl}/images/01-Homepage_R2_02.jpg',target='_blank'): img(src="#{qrcodeUrl}/generate.php?data=#{siteUrl}/?path=images/01-Homepage_R2_02.jpg")